report {
    enabled=true
    file="reports/reports.html"
}

trace {
    enabled=true
    file="reports/trace.txt"
}

timeline {
    enabled=true
    file="reports/timeline.html"
}

docker {
    enabled=true
    tmp="$baseDir"
}

process {
    withName: getFASTQ {
        container="abeaude/sratoolkit:v2.10.8"
        }

    withName: getChrSeq {
        container="abeaude/ubuntu:18.04"
        }

    withName: makeGenomeIndex {
        cpus=16
        container="evolbioinfo/star:v2.7.6a"
        }

    withName: getAnnotations {
        container="abeaude/ubuntu:18.04"
        }

    withName: mapFASTQ {
        cpus=16
        memory=40.GB
        container="evolbioinfo/star:v2.7.6a"
        }

    withName: indexBAM {
        container="evolbioinfo/samtools:v1.11"
        }

    withName: countFeature {
        cpus=16
        container="evolbioinfo/subread:v2.0.1"
        }

    withName: countExon {
        cpus=16
        container="evolbioinfo/subread:v2.0.1"
        }

    withName: statAnalysis {
        container="evolbioinfo/deseq2:v1.28.1"
        }

    withName: fastqc {
        cpus=2
        container="evolbioinfo/fastqc:v0.11.8"
        }

    withName: multi_qc {
        container="evolbioinfo/multiqc:v1.9"
        }

    withName: fastq_screen {
        cpus=8
        container="abeaude/fastq_screen:0.14.0-0"
        }

    withName: get_fastq_screen_genomes {
        container="abeaude/fastq_screen:0.14.0-0"
        }

    withName: statAnalysisSplicing {
        cpus=10
        container="abeaude/dexseq:v1.36.0"
        }
}

