docker {
    enabled=true
}

process {
withName: getFASTQ {
    container="abeaude/sratoolkit:v2.10.8"
    }

withName: getChrSeq {
    container="abeaude/ubuntu:18.04"
    }

withName: makeGenomeIndex {
    cpus=16
    container="evolbioinfo/star:v2.7.6a"
    }

withName: getAnnotations {
    container="abeaude/ubuntu:18.04"
}

withName: mapFASTQ {
    cpus=16
    memory=42949672960
    container="evolbioinfo/star:v2.7.6a"
    }

withName: indexBAM {
    container="evolbioinfo/samtools:v1.11"
    }

withName: countFeature {
    container="evolbioinfo/subread:v2.0.1"
    }
}