docker {
    enabled=true
}

process {
withName: getFASTQ {
    container="abeaude/sratoolkit:v2.10.8"
    }

withName: getChrSeq {
    container="evolbioinfo/ubuntu:v2.5.7"
    }

withName: makeGenomeIndex {
    container="evolbioinfo/star:v2.7.6a"
    }

withName: getAnnotations {
    container="evolbioinfo/ubuntu:v2.5.7"
}

withName: mapFASTQ {
    container="evolbioinfo/star:v2.7.6a"
    }

withName: indexBAM {
    container="evolbioinfo/samtools:v1.11"
    }

withName: countFeature {
    container="evolbioinfo/subread:v2.0.1"
    }
}